h1, h2, h3, h4,
h5, h6 {
  color: #337ab7;
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: "Trebuchet MS";
  font-weight: bold; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2.3em; }

h4 {
  font-size: 2.1em; }

h5 {
  font-size: 1.7em; }

h6 {
  font-size: 1.4em; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #393939;
  font-size: 0.8em;
  font-family: "Trebuchet MS";
  font-weight: bold; }

h1.subtitle, h2.subtitle, h3.subtitle, h4.subtitle, h5.subtitle, h6.subtitle {
  margin-bottom: 2%;
  margin-top: 2%;
  font-weight: bold;
  color: #393939;
  font-family: "Trebuchet MS"; }

h1.subtitle {
  font-size: 2.3em; }

h2.subtitle {
  font-size: 2.0em; }

h3.subtitle {
  font-size: 1.8em; }

h4.subtitle {
  font-size: 1.6em; }

h5.subtitle {
  font-size: 1.4em; }

h6.subtitle {
  font-size: 1.2em; }

p {
  margin-bottom: 2%;
  line-height: 1.5; }

mark {
  background-color: #00C3FE; }

del {
  opacity: 0.5;
  text-decoration: line-through; }

ins {
  color: #222625;
  font-weight: bold; }

strong {
  font-weight: bolder; }

em {
  font-style: italic; }

abbr {
  border-bottom: dotted 1px black;
  cursor: help; }

blockquote {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  margin: 1% 1%;
  padding: 1%; }

blockquote:before, blockquote:after {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 10px;
  margin-right: 1%;
  vertical-align: -0.5em; }

blockquote p {
  display: inline; }

code {
  font-family: "Courier New"; }

pre {
  font-family: "Courier New";
  margin: 1%;
  background-color: #1B1B1B;
  border-left: dotted 5px;
  color: #ebf2f6;
  padding: 2%; }

kbd {
  font-family: "Arial";
  font-size: 12px;
  background-color: #333;
  color: white;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 4px;
  border: groove 1px grey; }

kbd:hover {
  background-color: Silver;
  color: black; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.majuscule {
  text-transform: uppercase; }

.minuscule {
  text-transform: lowercase; }

.justify {
  text-align: justify; }

table.defaut th, table.defaut td, table.alternativeLine th, table.alternativeLine td, table.survol th, table.survol td {
  border: 1px solid LightGrey;
  border-collapse: collapse;
  height: 50px;
  text-align: center;
  vertical-align: middle; }

table.alternativeLine tr:nth-child(2n+1) {
  background-color: #d7e6ed; }

table.alternativeLine th, table.survol th {
  font-weight: bold;
  text-align: center; }

table.survol, table.alternativeLine, table.defaut {
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

table.survol th, table.defaut th {
  background-color: #4f82b4;
  color: white; }

.survol tr:hover, .survol tr:hover:nth-child(2n+1) {
  background: #EAEAEA; }

ul li {
  list-style-type: circle; }

ul.square > li {
  list-style-type: square;
  margin-left: 5%; }

ul.noDecoration > li {
  list-style-type: none; }

@media screen and (max-width: 800px) {
  table.survol {
    overflow: auto;
    display: block; }

  pre {
    overflow: auto; }

  ul.square > li {
    list-style-type: square;
    margin-left: 7%; } }
.btn {
  font: 0.9em "Trebuchet MS";
  background: #3C98CF;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  padding: 8px 16px 8px 16px; }

.btn-flat {
  font: 0.9em "Trebuchet MS";
  background: #3C98CF;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0;
  padding: 8px 16px 8px 16px; }

.btn-extra-large {
  font: 0.9em "Trebuchet MS";
  background: #3C98CF;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 8px 16px 8px 16px;
  border-radius: 7px;
  width: 100%; }

.btn-fancy {
  text-align: center;
  padding: 8px 16px 8px 16px;
  border: solid 1px white;
  border-radius: 8px;
  font: bold 0.9em "Trebuchet MS";
  color: white;
  background-color: #3C98CF;
  box-shadow: 4px 4px 4px #bababa, inset 0px 0px 1px #ffffff;
  text-shadow: 3px 2px 1px #000000; }

.btn:hover {
  background: linear-gradient(#3CA1D3, #3386AF); }

.btn:active {
  color: #0B4972; }

.btn-flat:hover {
  background: linear-gradient(#3CA1D3, #3386AF); }

.btn-flat:active {
  color: #0B4972; }

.btn-small {
  font: 0.7em "Trebuchet MS";
  padding: 7px 14px 7px 14px; }

.btn-large {
  font: 1.1em "Trebuchet MS";
  padding: 10px 26px 10px 26px; }

.btn-green {
  background-color: #91BD09; }

.btn-green:hover {
  background: linear-gradient(#91BD09, #4E9939); }

.btn-green:active {
  color: #3A6D2C; }

.btn-black {
  background-color: #444; }

.btn-black:hover {
  background: linear-gradient(#777, #333); }

.btn-black:active {
  color: #000; }

.btn-red {
  background: #C53727; }

.btn-red:hover {
  background: linear-gradient(#C53727, #A82B22); }

.btn-red:active {
  color: #77140E; }

.btn-orange {
  background: #F28F22; }

.btn-orange:hover {
  background: linear-gradient(#F79E46, #C96928); }

.btn-orange:active {
  color: #7C451F; }

.success-box, .info-box, .warning-box, .error-box {
  border: 1px solid;
  margin: 10px 0;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center; }

.success-box {
  background-color: #DFF2BE;
  color: #4F8A10;
  background-image: url("../img/success.png");
  background-repeat: no-repeat;
  background-size: 30px 30px; }

.info-box {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url("../img/info.png");
  background-repeat: no-repeat;
  background-size: 30px 30px; }

.warning-box {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url("../img/warning.png");
  background-repeat: no-repeat;
  background-size: 30px 30px; }

.error-box {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url("../img/error.png");
  background-repeat: no-repeat;
  background-size: 30px 30px; }

header {
  padding-left: 4%;
  padding-right: 4%; }

header.header > h1 {
  color: #37474F;
  text-align: center;
  font-size: 5em;
  text-shadow: 2px 2px 2px grey;
  font-weight: 900;
  overflow-wrap: break-word; }

header.header > h1.subtitle, header.header > h2.subtitle, header.header > h3.subtitle, header.header > h4.subtitle, header.header > h5.subtitle, header.header > h6.subtitle {
  color: #666;
  font-weight: 100;
  text-align: center;
  line-height: 1.5;
  margin-left: 8%;
  margin-right: 8%; }

.jumbotron {
  background-color: #eceae5;
  border-radius: 8px;
  padding: 2%;
  text-align: center; }

.jumbotron > p, .jumbotron > h1, .jumbotron > h2, .jumbotron > h3, .jumbotron > h4, .jumbotron > h5, .jumbotron > h6 {
  margin-bottom: 1.5%; }

.navbar, .pagination {
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 0;
  list-style-type: none;
  text-align: center;
  letter-spacing: -0.31em;
  /*active*/
  /*disable*/ }
  .navbar li, .pagination li {
    display: inline-block;
    box-shadow: 3px 3px 0px #aaaaaa; }
    .navbar li a, .pagination li a {
      display: inline-block;
      letter-spacing: normal;
      word-spacing: normal;
      font-family: Arial;
      line-height: 50px;
      padding-right: 15px;
      padding-left: 15px;
      background: #007cc2;
      color: white;
      text-decoration: none;
      text-align: center; }
  .navbar li, .pagination li {
    border-left: 1px solid white; }
    .navbar li :hover, .pagination li :hover {
      background: #ddd;
      color: black; }
    .navbar li :active, .pagination li :active {
      color: #0B4972; }
  .navbar li.active a, .pagination li.active a {
    background-color: LightSlateGray; }
  .navbar li.active :hover, .pagination li.active :hover {
    background: LightSlateGray;
    color: white;
    cursor: default; }
  .navbar li.active :active, .pagination li.active :active {
    color: white; }
  .navbar li.disable a, .pagination li.disable a {
    cursor: not-allowed;
    background: #007cc2; }
  .navbar li.disable :hover, .pagination li.disable :hover {
    background: #007cc2;
    color: white; }
  .navbar li.disable :active, .pagination li.disable :active {
    color: white; }

.pagination {
  /*active*/
  /*disable*/ }
  .pagination li {
    display: inline-block;
    box-shadow: none;
    border: 1px solid #ddd; }
    .pagination li a {
      line-height: 35px;
      padding-right: 12px;
      padding-left: 12px;
      background: white;
      color: #337ab7; }
  .pagination li :hover {
    background: #eee;
    cursor: default; }
  .pagination li.active a {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white; }
  .pagination li.active :hover {
    background: #337ab7; }
  .pagination li.disable a {
    color: black;
    background-color: #eee; }
  .pagination li.disable :hover {
    background: #eee;
    color: black; }
  .pagination li.disable :active {
    color: black; }

/*Fil d'ariane*/
.breadcrumb {
  margin-top: 1%;
  margin-bottom: 1%; }
  .breadcrumb li {
    display: inline-block; }
  .breadcrumb li:nth-child(n+2)::before {
    content: ">\00a0"; }
  .breadcrumb a {
    text-decoration: none;
    color: #007cc2; }
  .breadcrumb a:hover {
    color: LightSlateGray; }

.navbar_vertical {
  padding: 0;
  list-style-type: none;
  letter-spacing: -0.31em;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #191818; }
  .navbar_vertical li {
    display: block; }
    .navbar_vertical li:first-child {
      border-bottom: 1px solid grey;
      font-weight: bolder;
      font-size: 1.2em; }
    .navbar_vertical li:last-child {
      border-bottom: 1px solid grey; }
    .navbar_vertical li a {
      display: inline-block;
      width: 100%;
      letter-spacing: normal;
      word-spacing: normal;
      font-family: Arial;
      padding-top: 18px;
      padding-bottom: 18px;
      background: #191818;
      color: #999;
      text-decoration: none;
      overflow-wrap: break-word;
      padding-left: 5%; }
  .navbar_vertical li :hover {
    background: white;
    color: #007cc2; }
  .navbar_vertical li :active {
    color: #0B4972; }

@media screen and (max-width: 768px) {
  .navbar li {
    display: block;
    box-shadow: none; }

  .navbar li a {
    width: 90%;
    border: 1px solid white; }

  .navbar_vertical {
    visibility: hidden;
    display: none; } }
body {
  font-family: "Trebuchet MS";
  background-color: white; }

.body {
  padding: 1%;
  background-color: white;
  padding-left: 21.5%; }

.download {
  margin-bottom: 8%; }
  .download a {
    text-decoration: none;
    line-height: 30px; }

a.span-3.btn.btn-black {
  background-color: #337ab7; }

header {
  padding-top: 10%;
  padding-bottom: 5%;
  margin-left: 21%;
  margin-bottom: 3%; }

.classColor {
  color: #4f82b4;
  font-weight: bolder; }

@media screen and (max-width: 768px) {
  .body {
    padding-left: 5px; }

  header {
    margin-left: -0px; } }
.grid {
  font-size: 0; }
  .grid .span-1 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 10.5%;
    margin-left: 1%;
    margin-right: 1%; }
  .grid .span-2 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%; }
  .grid .span-3 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 35.5%;
    margin-left: 1%;
    margin-right: 1%; }
  .grid .span-4 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%; }
  .grid .span-5 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 60.5%;
    margin-left: 1%;
    margin-right: 1%; }
  .grid .span-6 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 73%;
    margin-left: 1%;
    margin-right: 1%; }
  .grid .span-7 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 85.5%;
    margin-left: 1%;
    margin-right: 1%; }
  .grid .span-8 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; }
  .grid .offset-1 {
    margin-left: 13.5%; }
  .grid .offset-2 {
    margin-left: 26%; }
  .grid .offset-3 {
    margin-left: 38.5%; }
  .grid .offset-4 {
    margin-left: 51%; }
  .grid .offset-5 {
    margin-left: 63.5%; }
  .grid .offset-6 {
    margin-left: 76%; }
  .grid .offset-7 {
    margin-left: 88.5%; }

.largeGrid {
  font-size: 0; }
  .largeGrid .span-1 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%; }
  .largeGrid .span-2 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%; }
  .largeGrid .span-3 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 73%;
    margin-left: 1%;
    margin-right: 1%; }
  .largeGrid .span-4 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; }
  .largeGrid .offset-1 {
    margin-left: 26%; }
  .largeGrid .offset-2 {
    margin-left: 51%; }
  .largeGrid .offset-3 {
    margin-left: 76%; }

.smallGrid {
  font-size: 0; }
  .smallGrid .span-1 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 6.33333%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-2 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 14.66667%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-3 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-4 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 31.33333%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-5 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 39.66667%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-6 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-7 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 56.33333%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-8 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 64.66667%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-9 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 73%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-10 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 81.33333%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-11 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 89.66667%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .span-12 {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    background-color: #ddd;
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; }
  .smallGrid .offset-1 {
    margin-left: 9.33333%; }
  .smallGrid .offset-2 {
    margin-left: 17.66667%; }
  .smallGrid .offset-3 {
    margin-left: 26%; }
  .smallGrid .offset-4 {
    margin-left: 34.33333%; }
  .smallGrid .offset-5 {
    margin-left: 42.66667%; }
  .smallGrid .offset-6 {
    margin-left: 51%; }
  .smallGrid .offset-7 {
    margin-left: 59.33333%; }
  .smallGrid .offset-8 {
    margin-left: 67.66667%; }
  .smallGrid .offset-9 {
    margin-left: 76%; }
  .smallGrid .offset-10 {
    margin-left: 84.33333%; }
  .smallGrid .offset-11 {
    margin-left: 92.66667%; }

/*# sourceMappingURL=index.css.map */
