@import "variables";

.success-box, .info-box, .warning-box, .error-box{
  border: 1px solid;
  margin: 10px 0;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.success-box{
  background-color: $success_background-color;
  color: $success_color;
  background-image: url('../img/success.png');
  background-repeat: no-repeat;
  background-size: $alert_background-size;
}

.info-box{
  color: $info_color;
  background-color: $info_background-color;
  background-image: url('../img/info.png');
  background-repeat: no-repeat;
  background-size: $alert_background-size;
}

.warning-box{
  color: $warning_color;
  background-color: $warning_background-color;
  background-image: url('../img/warning.png');
  background-repeat: no-repeat;
  background-size: $alert_background-size;
}

.error-box{
  color: $error_color;
  background-color: $error_background-color;
  background-image: url('../img/error.png');
  background-repeat: no-repeat;
  background-size: $alert_background-size;
}
