@import "variables";

.btn{
  font: $fontSize $btn-police ;
  background: $btn-default-color;
  color: $btn-color;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  padding: $btn-padding;
}

.btn-flat{
  font: $fontSize $btn-police ;
  background: $btn-default-color;
  color: $btn-color;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0;
  padding: $btn-padding;
}

.btn-extra-large{
  font: $fontSize $btn-police ;
  background: $btn-default-color;
  color: $btn-color;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: $btn-padding;
  border-radius: 7px;
  width: 100%;
}

.btn-fancy{
  text-align: center;
  padding: $btn-padding;
  border: solid 1px white;
  border-radius: 8px;
  font: bold $fontSize $btn-police ;
  color: $btn-color;
  background-color: $btn-default-color;
  box-shadow: 4px 4px 4px #bababa, inset 0px 0px 1px #ffffff;
  text-shadow: 3px 2px 1px #000000;
}

.btn:hover{
  background: linear-gradient( #3CA1D3, #3386AF);
}

.btn:active{
  color: #0B4972;
}

.btn-flat:hover{
  background: linear-gradient( #3CA1D3, #3386AF);
}

.btn-flat:active{
  color: #0B4972;
}

.btn-small{
  font: $fontSizeSmall $btn-police ;
  padding: $btn-padding-small;
}

.btn-large{
  font: $fontSizeLarge $btn-police ;
  padding: $btn-padding-large;
}

.btn-green{
  background-color: $btn-green-color;
}

.btn-green:hover{
  background: linear-gradient( $btn-green-color, #4E9939);
}

.btn-green:active{
  color: #3A6D2C;
}

.btn-black{
  background-color: $btn-black-color;
}

.btn-black:hover{
  background: linear-gradient( #777, #333);
}

.btn-black:active{
  color: #000;
}

.btn-red{
  background: $btn-red-color;
}

.btn-red:hover{
  background: linear-gradient( $btn-red-color, #A82B22);
}

.btn-red:active{
  color: #77140E;
}

.btn-orange{
  background: $btn-orange-color;
}

.btn-orange:hover{
  background: linear-gradient( #F79E46, #C96928);
}

.btn-orange:active{
  color: #7C451F;
}


