@import "variables";
@import "grille";


@mixin grid_gen($numcols, $gutter_width){
  font-size: 0;

  @for $num from 1 to $numcols + 1{
    .span-#{$num}{
      @include span($num, $numcols, $gutter_width);
    }
  }


  @for $num from 1 to $numcols{
    .offset-#{$num}{
      @include offset($num, $numcols, $gutter_width);
    }
  }
}


.grid{
  @include grid_gen($numcols, $gutter_width);
}

.largeGrid{
  @include grid_gen($largeNumcols, $largeGutter);
}

.smallGrid{
  @include grid_gen($smallNumcols, $smallGutter);
}