@import "variables";

header{
  padding-left: 4%;
  padding-right: 4%;
}

header.header > h1{
  color: $header_h1_color;
  text-align: center;
  font-size: $header_h1_size;
  text-shadow: 2px 2px 2px grey;
  font-weight: 900;
  overflow-wrap: break-word;
}

header.header > h1.subtitle, header.header > h2.subtitle, header.header > h3.subtitle, header.header > h4.subtitle, header.header > h5.subtitle, header.header > h6.subtitle{
  color: $header_subtitle_color;
  font-weight: 100;
  text-align: center;
  line-height: 1.5;
  margin-left: 8%;
  margin-right: 8%;

}

.jumbotron{
  background-color: $jumbotron_background-color;
  border-radius: 8px;
  padding: 2%;
  text-align: center;
}

.jumbotron >p, .jumbotron > h1, .jumbotron > h2, .jumbotron > h3, .jumbotron > h4, .jumbotron > h5, .jumbotron > h6{
  margin-bottom: 1.5%;
}
