body{
  font-family: "Trebuchet MS";
  background-color: white;
}

.body {
  padding: 1%;
  background-color: white;
  padding-left: 21.5%;
}

.download{
  & a{
    text-decoration: none;
    line-height: 30px;
  }
  margin-bottom: 8%;
}

a.span-3.btn.btn-black{
  background-color: #337ab7;
}

header{
  padding-top: 10%;
  padding-bottom: 5%;
  margin-left: 21%;
  margin-bottom: 3%;
}

.classColor{
  color: #4f82b4;
  font-weight: bolder;
}

@media screen and (max-width: 768px){

  .body{
   padding-left: 5px;
  }
  header{
    margin-left: -0px;
  }

}