@import "variables";

@function calcColumnWidth($cols, $numcols, $gutter_width){
  $dispo : 100 - ($numcols * $gutter_width);

  $column_width: ($dispo / $numcols);
  @return $column_width;
}

@mixin span($colCourante , $numcols, $gutter_width){
  $width: calcColumnWidth($colCourante, $numcols, $gutter_width);
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  background-color: #ddd;
  margin-bottom: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: center;
  width: ($width * $colCourante) + (($colCourante - 1) * $gutter_width);
  margin-left: $gutter_width / 2;
  margin-right: $gutter_width / 2;
}

@mixin offset($colCourante , $numcols, $gutter_width){
  $width: calcColumnWidth($colCourante, $numcols, $gutter_width);
  margin-left: ($colCourante * $width) + ($gutter_width * $colCourante) + ($gutter_width / 2);
}



