@import "variables";


.navbar, .pagination{
  margin-bottom: 1%;
  margin-top: 1%;
  padding:0;
  list-style-type: none;
  text-align: center;
  letter-spacing: -0.31em;

  & li{
    display: inline-block;
    box-shadow: $navbar_ombre;
    & a{
      display: inline-block;
      letter-spacing: normal;
      word-spacing: normal;
      font-family: Arial;
      line-height: 50px;
      padding-right: 15px;
      padding-left: 15px;
      background: $navbar_background-color;
      color: $navbar_a_color;
      text-decoration: none;
      text-align: center;
    }
  }

  & li {
    border-left:1px solid white;

    :hover{
      background: $navbar_hover_background-color;
      color: $navbar_hover-color;
    }
    :active{
      color: $navbar_active_color;
    }
  }

  /*active*/
  & li.active{
    & a{
      background-color: $navbar_class_active_background-color;
    }
    :hover{
      background: $navbar_class_active_background-color;
      color: $navbar_class_active_color;
      cursor: default;
    }
    :active{
      color: $navbar_class_active_color;
    }
  }

  /*disable*/
  & li.disable{
    & a{
      cursor: not-allowed;
      background: $navbar_background-color;
    }
    :hover{
      background: $navbar_background-color;
      color: $navbar_class_disable_color;
    }
    :active{
      color: $navbar_class_disable_color;
    }
  }
}


.pagination{

   & li{
    display: inline-block;
    box-shadow: none;
    border: $pagination_border;

    & a{
      line-height: 35px;
      padding-right: 12px;
      padding-left: 12px;
      background: $pagination_background-color;
      color: $pagination_a_color;
    }
   }

  & li {

    :hover{
      background: $pagination_hover_background;
      cursor: default;
    }
  }

  /*active*/
  & li.active{
    & a{
      background-color: $pagination_class_active_background-color;
      border-color: $pagination_class_active_border-color;
      color: $pagination_class_active_color;
    }
    :hover{
      background: $pagination_class_active_background-color;
    }
  }

  /*disable*/
  & li.disable{
    & a{
      color: $pagination_class_disable_color;
      background-color: $pagination_class_disable_background-color;
    }
    :hover{
      background: $pagination_class_disable_background-color;
      color: black;

    }
    :active{
      color: $pagination_class_disable_color;
    }
  }
}


/*Fil d'ariane*/

.breadcrumb{
  margin-top: 1%;
  margin-bottom: 1%;

  & li{
    display: inline-block;
  }

  & li:nth-child(n+2)::before {
    content: ">\00a0";
  }

  & a{
    text-decoration: none;
    color: $breadcrumb_color;
  }

  & a:hover{
    color: $breadcrumb_hover_color;
  }
}


.navbar_vertical {
  padding:0;
  list-style-type: none;
  letter-spacing: -0.31em;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #191818;

  & li{
    display: block;

    &:first-child {
      border-bottom: 1px solid grey;
      font-weight: bolder;
      font-size: 1.2em;

    }

    &:last-child{
      border-bottom: 1px solid grey;
    }

    & a{
      display: inline-block;
      width: 100%;
      letter-spacing: normal;
      word-spacing: normal;
      font-family: Arial;
      padding-top: 18px;
      padding-bottom: 18px;
      background: #191818;
      color: #999;
      text-decoration: none;
      overflow-wrap: break-word;
      padding-left: 5%;


    }

  }

  & li {

    :hover{
      background: white;
      color: #007cc2;
    }

    :active{
      color: $navbar_active_color;
    }
  }

}



@media screen and (max-width: 768px){

  .navbar li {
    display: block;
    box-shadow: none;
  }
  .navbar li a{
    width: 90%;
    border: 1px solid white;
  }

  .navbar_vertical{
    visibility: hidden;
    display: none;
  }

}

