@import "variables";

h1, h2, h3, h4,
h5, h6 {
  color: $colorHeaderTitle;
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: $h_font-family;
  font-weight: bold;
}

h1{
  font-size: $h1_font-size;
}

h2{
  font-size: $h1_font-size - 0.3;
}

h3{
  font-size: $h1_font-size - 0.5;
}

h4{
  font-size: $h1_font-size - 0.7;
}

h5{
  font-size: $h1_font-size - 1.1;
}

h6{
  font-size: $h1_font-size - 1.4;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{
  color: $colorSubtitlesHeader;
  font-size: 0.8em;
  font-family: $h_font-family;
  font-weight: bold;
}

h1.subtitle, h2.subtitle, h3.subtitle, h4.subtitle, h5.subtitle, h6.subtitle{
  margin-bottom: 2%;
  margin-top: 2%;
  font-weight: bold;
  color: $colorSubtitlesHeader;
  font-family: $h_font-family;
}

h1.subtitle{
  font-size: $h1_subtitle_font-size;
}

h2.subtitle{
  font-size: $h1_subtitle_font-size - 0.3;
}

h3.subtitle{
  font-size: $h1_subtitle_font-size - 0.5;
}

h4.subtitle{
  font-size: $h1_subtitle_font-size - 0.7;
}

h5.subtitle{
  font-size: $h1_subtitle_font-size - 0.9;
}

h6.subtitle{
  font-size: $h1_subtitle_font-size - 1.1;
}

p{
  margin-bottom: 2%;
  line-height: 1.5;
}

mark{
  background-color: #00C3FE;
}

del{
  opacity: 0.5;
  text-decoration: line-through;
}

ins{
  color: #222625;
  font-weight: bold;
}

strong{
  font-weight: bolder;
}

em{
  font-style: italic;
}

abbr{
  border-bottom: dotted 1px black;
  cursor: help;
}

blockquote {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  margin: 1% 1%;
  padding: 1%;
}
blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 10px;
  margin-right: 1%;
  vertical-align: -0.5em;
}

blockquote:after {
  @extend blockquote:before;
}

blockquote p {
  display: inline;
}

code{
  font-family: "Courier New";
}

pre{
  font-family: "Courier New";
  margin: 1%;
  background-color: #1B1B1B;
  border-left: dotted 5px ;
  color: #ebf2f6;
  padding: 2%;
}

kbd{
  font-family: "Arial";
  font-size: 12px;
  background-color: #333;
  color: white;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 4px;
  border: groove 1px grey;
}

kbd:hover{
  background-color: Silver;
  color: black;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.majuscule{
  text-transform: uppercase;
}

.minuscule{
  text-transform: lowercase;
}

.justify{
  text-align: justify;
}

table.defaut th , table.defaut td , table.alternativeLine th, table.alternativeLine td, table.survol th, table.survol td{
  border: 1px solid LightGrey;
  border-collapse: collapse;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

table.alternativeLine tr:nth-child(2n+1){
  background-color: #d7e6ed;
}

table.alternativeLine th, table.survol th{
  font-weight: bold;
  text-align: center;
}

table.survol , table.alternativeLine, table.defaut{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

table.survol th, table.defaut th{
  background-color: #4f82b4;
  color: white;
}

.survol tr:hover, .survol tr:hover:nth-child(2n+1){
  background: #EAEAEA;
}

ul li{
  list-style-type: circle;
}

ul.square > li{
  list-style-type: square;
  margin-left: 5%;
}

ul.noDecoration > li{
  list-style-type: none;
}



@media screen and (max-width: 800px) {
  table.survol{
    overflow: auto;
    display: block;
  }

  pre{
    overflow: auto;
  }

  ul.square > li{
    list-style-type: square;
    margin-left: 7%;
  }

}