$h1_font-size: 2.8em;
$h_font-family : "Trebuchet MS";
$h1_subtitle_font-size: 2.3em;
$colorHeaderTitle: #337ab7;
$colorSubtitlesHeader: #393939;

$success_background-color: #DFF2BE;
$success_color: #4F8A10;
$info_background-color: #BDE5F8;
$info_color: #00529B;
$warning_background-color: #FEEFB3;
$warning_color: #9F6000;
$error_background-color: #FFBABA;
$error_color: #D8000C;
$alert_background-size: 30px 30px;

$fontSize : 0.9em;
$fontSizeSmall : 0.7em;
$fontSizeLarge : 1.1em;
$btn-default-color : #3C98CF;
$btn-color : white;
$btn-green-color : #91BD09;
$btn-red-color : #C53727;
$btn-black-color : #444;
$btn-orange-color : #F28F22;
$btn-police : "Trebuchet MS";
$btn-padding : 8px 16px 8px 16px;
$btn-padding-small: 7px 14px 7px 14px;
$btn-padding-large: 10px 26px 10px 26px;

$header_h1_color: #37474F;
$header_subtitle_color: #666;
$jumbotron_background-color: #eceae5;
$header_h1_size: 5em;

$navbar_background-color: #007cc2;
$navbar_a_color: white;
$navbar_ombre: 3px 3px 0px #aaaaaa;
$navbar_hover_background-color: #ddd;
$navbar_hover_color: black;
$navbar_active_color: #0B4972;
$navbar_class_active_background-color: LightSlateGray;
$navbar_class_active_color: white;
$navbar_class_disable_color: white;

$pagination_background-color: white;
$pagination_a_color: #337ab7;
$pagination_border: 1px solid #ddd;
$pagination_hover_background: #eee;
$pagination_class_active_background-color: #337ab7;
$pagination_class_active_border-color: #337ab7;
$pagination_class_active_color: white;
$pagination_class_disable_background-color: #eee;
$pagination_class_disable_color: black;

$breadcrumb_color: #007cc2;
$breadcrumb_hover_color: LightSlateGray;

//Grille
$numcols: 8;
$gutter_width: 2%;

$smallNumcols: 12;
$smallGutter: 2%;

$largeNumcols: 4;
$largeGutter: 2%;